<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="srinternet.glue">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono_notificacion"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icono_notificacion"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InicioActivity"
            android:label="@string/title_activity_inicio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Carga_fotos"
            android:label="Carga_fotos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Principal"
            android:label="@string/title_activity_principal"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service
            android:name=".MyFirebaseInstanceIDService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Programa_Principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Perfil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PerfilActivity"
            android:label="@string/title_activity_perfil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Chat"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChatIndividual"
            android:label="@string/title_activity_chat_individual"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".NotificacionesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TutorialActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PreguntasFrecuentesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BasesLegales"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ComprasActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AjustesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Carpetas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConfirmaPareja"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Ocultos"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".fotosPrincipal"
            android:label="@string/title_activity_fotos_principal"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".NotifiPantalla"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".LigoteoPrincipal"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".CompartirApp"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>